.navbarContainer {
    background-color: #154c79;
    .container-fluid {
        >a {
            color: white;
        }
    }
    .navbar-nav{
        .nav-item {
            >a {
                color: white;
            }
        }
    }
   
}
